@import '_colors';


.chart{
	min-height: 300px;
	width: 100%;
	background-color: $lighter-gray;
	margin-top: 20px;
}

.tooltip {
	position: absolute;
	width: 200px;
	height: 28px;
	background-color: black;
	color: white;
	pointer-events: none;
	z-index: 2000;
}

/* Chart1 - 3andD */
.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.dot{
	stroke-width: 2px;
}