@import '_colors';


.chart-container{
	background-color: $lighter-gray;
	margin-top: 20px;
	/*padding-top: 10px;*/

	select{
		margin-left: 10px;
	}
}
.chart{
	min-height: 400px;
	width: 100%;
	background-color: $lighter-gray;
	font-size: 12px;
	margin-bottom: 10px;
}

/* Chart1 - 3andD */
.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.dot{
	stroke-width: 2px;
}

.tooltip {
	position: absolute;
	width: 200px;
	height: 28px;
	background-color: black;
	color: white;
	pointer-events: none;
	z-index: 2000;
}
.tooltip{
	padding: 8px;
	min-height: 210px;
	min-width: 230px;
	border-radius: 5px;
	display: table;


	p{
		margin: 3px;
	}
	.profile_img{
		width: 85px;
		height: 85px;
		float: left;
		margin-right: 5px;
		margin-bottom: 5px;
	}
	.header{
		display: inline-block;
		color: $light-gray;
		font-size: 12px;
		font-family: 'Roboto Slab', sans-serif;
		&.top{
			min-width: 80px;
		}
		&.bottom{
			min-width: 130px;
		}
		&.name{
			font-size: 14px;
			margin-bottom: 8px;
		}
	}
}

.select-filter{
	margin-top:10px;
	z-index: 3000;
}


/* spinning loader */
.loading-spinner{
    z-index: 2000;
    height: 100%;
    width: 99%;
    overflow: show;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    /*display: none;*/
}

.spinning-ball{
	left: 50%;
    position: relative;
    margin-left: -60px;
    top: 50%;
    margin-top: -60px;
}


/* Chart2 - Output Vs Salary */
.stat_select_field{
	color: $light-blue;
	border: 0;
	border-bottom: 1px dotted $lighter-gray;
	display: inline;
	width: 150px;
	font-size: 22px;
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 600;
	outline: none; 
}
.inline-header{
	display: inline;
}


/* Chart3 - Individual Player Stats */
.charttab{
	display: inline-block;
	padding: 5px;
	border: 1px solid $lighter-gray;
	color: $dark-gray;
	margin-top: 30px;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
	&:focus{
		outline: none;
	}
	z-index: 10;
	position: relative;
}
.charttab.selected{
	font-weight: bold;
	background-color: $lighter-gray;
	color: black;
}

.line{
	fill:none;
	stroke-width: 1.2px;
}

.statfilter{
	float:left;
	width:100px;
	line-height:13px;
	margin-bottom:5px;
	font-size: 13px;
}
.filtercircle{
	border-radius:50%;
	width:13px;
	height:13px;
	cursor:pointer;
	display:inline-block;
	margin-right:5px;
}

.bar-tooltip{
	position: absolute;
	width: 100px;
	/*height: 45px;*/
	padding:5px;
	background: black;
	color: white;
	pointer-events: none;
	border-radius: 3px;
	font-size: 11px;
	z-index: 2000;
}

.playerprofile{
	height: 200px;
	width: 100%;
	background-color: $darker-blue;
	margin-bottom: -105px;
	color: white;
}

.individual-filters-container .select-filter{
    margin-left: 230px;
    top: -30;
    position: relative;
}

.playerprofpic{
	position: relative;
    z-index: 0;
}

.playerinfosection{
	position: relative;
    left: 230;
    bottom: 150;

    .playername{
    	font-size: 20px;
    }
}




