@import '_colors';


.chart{
	min-height: 300px;
	width: 100%;
	background-color: $lighter-gray;
	margin-top: 20px;
}

.tooltip {
	position: absolute;
	width: 200px;
	height: 28px;
	background-color: black;
	color: white;
	pointer-events: none;
	z-index: 2000;
}

/* Chart1 - 3andD */
.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.dot{
	stroke-width: 2px;
}

.tooltip{
	padding: 8px;
	min-height: 210px;
	min-width: 230px;
	border-radius: 5px;
	display: table;


	p{
		margin: 3px;
	}
	.profile_img{
		width: 85px;
		height: 85px;
		float: left;
		margin-right: 5px;
		margin-bottom: 5px;
	}
	.header{
		display: inline-block;
		color: $light-gray;
		font-size: 12px;
		font-family: 'Roboto Slab', sans-serif;
		&.top{
			min-width: 80px;
		}
		&.bottom{
			min-width: 130px;
		}
		&.name{
			font-size: 14px;
			margin-bottom: 8px;
		}
	}
}